option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "XMg-3JA-9BC-enM"
    MASTER_KEY: "g7r-xxA-btb-hx6"
    DATABASE_URI: "mongodb://tuva.master:5EyrZdpQ5H3EgcR@ds053106-a0.mlab.com:53106,ds053106-a1.mlab.com:53106/tuva2-production?replicaSet=rs-ds053106"
    NODE_ENV: "production"
    SERVER_URL: "http://tuva.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"