option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "m5h36jkXMduu4gj"
    MASTER_KEY: "t0437ylgDzwbF7w"
    DATABASE_URI: "mongodb://tuva.master:rfz-YRR-kw9-o2q@ds147975.mlab.com:47975/tuva2-releasecandidate"
    NODE_ENV: "production"
    SERVER_URL: "http://tuva-development.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"